@use '@material/typography/mdc-typography';
@use '@material/typography/index' as typography;

.card {
  height: 50vh;
  width: 50vw;
}

.center {
  display: flex;
  justify-content: center;
}

.right {
  float: right;
}

.left {
  display: flex;
  justify-content: left;
}
