.button {
  background-color: transparent;
  border: none;
  color: white;
}

.material-icons {
  font-size: 44px;
}

.right {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: right;
}
