.button {
  background-color: transparent;
  border: none;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
}

.material-icons {
  font-size: 44px;
}

.top-bar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
